.tabs-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tabs-header__btn {
    color: #95969a;
    font-weight: 600;
    font-size: 18px;
}

.tabs-header__btn.active {
    color: #1da7d8;
}

.tabs-header__btn:hover {
    color: #30a2dc !important;
    background: transparent !important;
}

.tabs-error {
    width: 320px;
    padding-top: 10px;
    color: red;
}

.validate-error {
  color: red;
  font-size: 12px;
  margin-top: 1px;
  position: absolute;
  left: 30px;
  bottom: -18px;
}

.error-delete {
    color: red
}